body {
    background:radial-gradient(#C7A9B6,#7B5164);
       
       
       height:100vh;
    padding-left:15px;
  }
   
   footer {
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 24px; 
    width: 100%; 
    margin-top: 60px;
  }
  
  footer nav a {
    display: inline-block;
    padding: 10px; 
    margin: 0 10px; 
    background-color: rgba(162, 108, 108, 0.3); 
    border-radius: 10px; 
    color: black;
    text-decoration: none;
    transition: background-color 1s, color 1s;  
  }
  
  footer nav a:hover {
    background-color: #666; 
    color: white; 
  }
  
  

  
  select {
    width: 100%; 
  }
  form {
    margin: 20px;
    text-align: left;
  }

  label {
    font-weight: bold; 
    color: black;
    display: block;
    margin-bottom: 10px;
  }
  ol.requirements ol {
    list-style-type: decimal;
    padding-left: 40px;
  }
  
 
  
  ol {
    text-align: left;
    display: inline-block;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  ol li {
    text-align: left;
    margin-bottom: 10px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%; 
    margin: 0 auto; 
  }
  
  .table-container {
    display: flex;
    justify-content: space-around;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2; 
    color: black;
  }
  
  
  ul li {
    text-align: left;
    margin-bottom: 10px;
    font-size:large;
  }
  .image-container {
    background-color: #ccc; 
    padding: 20px; 
    border: 2px solid #a52323; 
    border-radius: 10px; 
    margin: 20px 0; 
  } header {
    color: #161414; 
    text-align:center;
    padding: 20px;
    margin: 0;
    font-size: 22px;
    width: 100%; 
  }
  
  
  header nav a {
    display: inline-block;
    padding: 10px; 
    margin: 0 5px; 
    background-color: rgba(162, 108, 108, 0.3); 
    border-radius: 10px; 
    color: rgb(7, 1, 1);
    text-decoration: none;
    transition: background-color 1s, color 1s; 
  }
  
  
  header nav a:hover {
    background-color: #7d3737; 
    color: white; 
  }
  
  
  main {
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex-grow: 1;
    color: white;
  }
  
  
  
  .image-container figure {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  
  .image-container figcaption {
    font-weight: bold;
    color: #666; 
  }
  #photo_caption{
    font-style: italic;
  }
  a {
    color: white; 
  
  }
  
  .introduction-box {
    background-color: #dedbd2b2;
    border: 2px solid #4A5759;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
  }
  @media (min-width: 576px) {
 
  body {
    padding: 10px; 
  }

  footer {
    margin-top: 30px;
     font-size: 18px;
  }

  header {
    font-size: 18px;
  }

  header nav a {
    padding: 10px 15px; 
  }
  .image-container {
    width: 50%; 
    padding: 10px;
  }
}
  