body{
    background-color:rgb(146, 96, 96);
    padding-left:15px;
    
    

}
header{
    text-align: center;
}
footer{
    text-align: center;
}

main h2{
    text-align: center;
}

nav > a{
    color:antiquewhite
}
.intro{
    text-align:center;
    font-size:45px
}
a{
    color:antiquewhite
}
.profilePic{
display: block;
margin:auto;
}
figcaption{
    text-align:center;
    font-style: italic;
}
.about{
    font-size:25px;
}


table{
    text-align: left;
    

}
table tr:nth-child(even){
    background-color:#777;
}
table tr:nth-child(odd){
background-color:#7776;
}
td{
    padding-right:2pc;
}
th{
    background-color:#3456
}
fieldset{
    background-color: white;
    display:block;
    align-content: baseline;
    margin-right:1090px;


}
form a{
    color: black;
}
label{
    display:block;
    margin:0.5rem 0;
    
}
fieldset{
    
}
form button{
    display:block;
}

form button{
    background-color: rgba(10, 83, 49, 0.911);
    height:20px;
    width: 70px;
    color:white;
    text-align:left;


}